.header {
	font-family: sans-serif;
	font-size: 20pt;
	font-weight: bold;
	color: blue;
	line-height: 50pt;
}

th {
	text-align: left;
	padding-right: 5pt;
	color: blue;
}

td {
	vertical-align: top;
	padding-right: 5pt;
}
